* {
    /* border: 1px solid red; */
}

.login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.login-container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgrey;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}

.login-container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.sign-in-button {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
}

.password {
    float: right;
    display: inline;
  }

  .password-line {
      margin-left: 30px;
      height: 25px;
      margin-top: -5px;
  }

  .email-title {
      height: 25px;
      margin-top: -35px;
  }

  .sign-in-header {
      margin-top: 0px;
  }

  a {
      text-decoration: none;
  }


